<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main/fragments/head :: head('Gerenciador de Tarefas')}"></head>
<body>
    <div class="container">
        <h1>Students</h1>

        <a th:href="@{/register/new}" class="btn btn-primary">New Student</a>

        <div class="alert alert-sucess" th:if="${mensagem}">
            <span th:text="${mensagemErro}"></span>
        </div>

        <div th:if="${#lists.isEmpty(students)}" class="empty-message">
            <p>No Students registered.</p>
        </div>

        <table th:if="${!#lists.isEmpty(students)}" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ClassRoom</th>
                    <th>Birthday</th>
                    <th>Creation date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.classRoom}"></td>
                    <td th:text="${student.birthday}"></td>
                    <td th:text="${student.creationDate}"></td>
                    <td class="actions">
                        <a th:href="@{/register/edit/{id}(id=${student.id})}" class="btn btn-secondary btn-sm">Editar</a>

                        <form th:action="@{/register/delete/{id}(id=${student.id})}" method="post" style="display:inline;"
                            onsubmit="return confirm('Do you have sure that you want to delete this student?');">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>